.App {
  text-align: center;
  background-color: #222;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-link {
  color: #61dafb;
}

.form-horizontal {
  width: 40% !important;
  margin-left: 30%
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  width: 100%;
  max-width: 400px;
  height: 600px;
  object-fit: cover;
}
.image:hover {
  transform: scale(1.05);
  transition: 0.2s ease;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 50px;
  padding: 20px;
}

.movie-card {
  width: 100%;
  height: 700px;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.movie-detail-container {
  padding: 2rem;
  color: white;
}

.movie-hero {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.movie-poster {
  width: 300px;
  border-radius: 10px;
}

.movie-info {
  max-width: 600px;
}

.reviews-section {
  margin-top: 2rem;
}

.review-card {
  background: #1e1e1e;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  max-width: 400px;
}

.review-form {
  margin-top: 2rem;
}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.page-container {
  display: flex;
  justify-content: center;
}

.movie-detail-container {
  width: 100%;
  max-width: 1100px;
  padding: 2rem;
}

.movie-row-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 2rem;
  scroll-behavior: smooth;
}

.movie-row-container::-webkit-scrollbar {
  display: none; /* hides scrollbar */
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: black;
  border-radius: 10px;
}

.movie-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.movie-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5rem;
  background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
  color: white;
}

body {
  background-color: #222;
}